.container-dettagli {
	display: flex;
	justify-content: space-around;
	margin: 50px 0px;
}

table {
	width: 50%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.table-costum {
	max-width: 2000px;
	max-height: 400px;
	overflow: auto;
	border: 1px solid black;
}

.btn-block {
	background-color: #d6ccc2;
	color: #fff;
}

.error {
	color: red;
	display: flex;
	justify-content: center;
}

.border-radius {
border-radius: 10px;
-moz-border-radius: 10px; /* firefox */
-webkit-border-radius: 10px; /* safari, chrome */
}