.form-control3 {
	border-color: black;
	max-width: 30%;
	text-align: center;
}

.prizess {
	font-size: 126%;
	margin-bottom: 0;
}

.card-text-cust {
	color: #9e9e9e;
	font-size: 133%;
}

.classss {
	max-height: 50%;
	overflow-y: auto;
}

.information {
	position: relative;
	width: 42%;
	backdrop-filter: blur(25px);
	border: 2px solid var(--primary-color);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding: 3%;
	color: var(--black-color);
	display: flex;
	flex-direction: column;
	background-color: #d6ccc2;
	max-height: 1100px; /* Imposta l'altezza massima desiderata */
}

.card-body2 {
	margin-top: 3%;
}

.information2 {
	position: relative;
	width: 80%;
	backdrop-filter: blur(25px);
	border: 2px solid var(--primary-color);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding: 3%;
	color: var(--black-color);
	display: flex;
	flex-direction: column;
	background-color: #d6ccc2;
	max-height: 1100px; /* Imposta l'altezza massima desiderata */
}

.nonTrovata {
	width: 100%;
}

.inf2 {
	max-height: 100%;
	overflow-y: auto;
	margin-right: 5%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img-prize {
	display: flex;
	justify-content: space-around;
}

.me-2-cust {
	margin: 2%;
}

.row-cust {
	display: flex;
	flex-direction: column;
}

.cust-class {
	display: flex;
	align-items: center;
}

.input-group {
	width: 86%;
	display: flex;
	justify-content: flex-end;
	margin-left: 8%;
	margin-top: 35%;
}

.input-group .btn {
	border-radius: 0;
	border-color: black;
}

.col-cust {
	max-width: 67%;
}

.card-title-cust {
	font-size: 174%;
}

.card {
	border: none;
}

.bottoni-custom {
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
}

.pulsan {
	background-color: #6b6565;
	color: #fff;
	padding: 1% 2%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 2%;
	width: 100%;
	text-align: center;
}

.pulsan:hover {
	background-color: #827b7b;
}

.p-2 {
	margin-bottom: 2%;
}

.p-4 {
	margin-top: 5%;
}

.cont-img {
	max-width: 100%; /* Imposta la larghezza massima del contenitore */
	height: auto;
	/* Imposta l'altezza automatica per mantenere le proporzioni */
	overflow: hidden;
	/* Nasconde eventuali parti dell'immagine che superano il contenitore */
}

.card-ct {
	display: flex;
}

.x-input, .form-control {
	padding: 5px 10px; /* Spaziatura interna */
}

/* .x-input-total { */
/* 	position: relative; */
/* 	right: -15%; */
/* } */
.col-cot {
	flex: 0 0 30%; /* Colonna per le immagini */
}

.card-body-cost {
	flex: 0 0 49%;
}

.card-total {
	display: flex;
}

.x-input-total {
	max-width: 20%;
}

.classss {
	margin-bottom: 2%
}

.mb-2 {
	text-align: center;
}

.inf {
	max-height: 1000px;
	overflow-y: auto;
	margin-right: 2%;
	max-width: 56%;
}

.cart-vuoto {
	margin-top: 8%;
}

.name-pr, .prize-total {
	margin-bottom: 0;
}

.name-pr {
	font-weight: bold;
}

.prize-total {
	align-content: center;
}

.prize-pr {
	margin-bottom: 1%;
}

.prize-totalss {
	display: flex;
	flex-direction: column-reverse;
}

.name-prize {
	display: flex;
	flex-direction: column;
	max-width: 72%;
}

.card-img-top-custom {
	min-height: 261px;
	max-height: 350px;
	max-width: 48%;
	width: auto;
	/* Per garantire che le immagini si ridimensionino proporzionalmente */
	height: auto;
	/* Per garantire che le immagini si ridimensionino proporzionalmente */
	display: block; /* Per garantire che l'immagine sia un blocco */
	margin: auto;
	max-height: 350px;
	max-width: 58%; /* Per allineare l'immagine al centro */
}

.card-body-cost {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-around;
}

.row-inf {
	display: flex;
}

.text-primary {
	color: #000000 !important;
}

.img-prize2 {
	display: flex;
}

.container-fluid {
	font-family: Times New Roman, sans-serif;
}

.fw-bold-cu {
	font-weight: bold;
	margin-top: 1%;
}

@media only screen and (max-width: 1300px) {
	.inf, .information {
		max-width: 50%;
		margin-top: 5%;
	}
	.input-group {
		display: flex;
		margin-top: 57%;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.card-img-top-custom {
		min-height: 145px;
	}
	.texttt-pr {
		font-size: 85%;
	}
	.form-control3 {
		max-width: 46%;
	}
	.inf2, .information2 {
		max-width: 50%;
	}
	.fw-cu, .fw-bold-cu {
		font-size: 85%;
	}
	.card-vuoto {
		padding-top: 57px !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		padding-bottom: 9% !important;
		margin-top: 56px;
		background-color: #dcdcdc;
	}
}

@media only screen and (max-width: 1200px) {
	.card-img-top-custom {
		min-height: 125px;
	}
}

@media only screen and (max-width: 1100px) {
	.img-prize2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.inf2, .information2 {
		max-width: 100%;
	}
	.inf2 {
		margin-bottom: 4%;
	}
}

@media ( min-width : 1025px) {
	.h-custom {
		height: 100vh !important;
	}
	#mySection {
		font-size: 1.2rem; /* Modifica la dimensione del testo */
	}
	.input-sm {
		width: 50px; /* Imposta la larghezza desiderata*/
	}
	.quantity-container {
		display: flex;
		align-items: center;
	}
}

@media only screen and (max-width: 1050px) {
	.card-img-top-custom {
		min-height: 105px;
	}
}

@media only screen and (max-width: 950px) {
	.inf, .information {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.information {
		width: 100%;
	}
	.col-cust {
		max-width: 100%;
		/* Imposta la larghezza massima per mantenere il contenuto visibile */
		margin-top: 5%;
	}
	.row {
		display: flex;
		flex-direction: column;
	}
	.prizess {
		font-size: 100%;
	}
	.input-group {
		display: flex;
		margin-top: 88%;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.card-img-top-custom {
		min-height: 130px;
	}
	.texttt-pr {
		font-size: 71%;
	}
}

@media only screen and (max-width: 600px) {
	.card-img-top-custom {
		min-height: 110px;
	}
}

@media only screen and (max-width: 500px) {
	.card-img-top-custom {
		min-height: 80px;
	}
	.input-group {
		margin-top: 100%;
	}
	.form-control3 {
		max-width: 61%;
	}
	.card-title-cust {
		font-size: 150%;
	}
}

@media only screen and (max-width: 400px) {
	.input-group {
		margin-top: 158%;
	}
	.card-img-top-custom {
		min-height: 80px;
	}
	.card-title-cust {
		font-size: 130%;
	}
	.card {
		padding-top: 57px !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		padding-bottom: 9% !important;
		margin-top: 56px;
		background-color: #dcdcdc;
	}
	.pagamenti {
		font-size: 98%;
	}
	.me-2-cust {
		max-width: 20%;
		margin: 2%;
	}
}

@media only screen and (max-width: 357px) {
	.input-group {
		margin-top: 174%;
	}
	.card-img-top-custom {
		min-height: 71px;
	}
	.card-title-cust {
		font-size: 130%;
	}
	.form-control3 {
		max-width: 78%;
	}
	.prizess {
		font-size: 85%;
	}
	.card-text-cust {
		font-size: 111%;
	}
}