@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin-top:8%;
}

.container {
	max-width: 92%;
	margin-top: 90px;
}

.product-images{
	flex: 1;
	overflow-x: hidden;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
} 
 
img {
	width: 400px;
}

.product-info {
	flex: 1;
	align-items: flex-start;
	margin-left: 80px;
	font-family: Times New Roman, sans-serif;
	justify-content:center;
}

.product-name {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 10px;
}

.product-price {
	font-size: 25px;
	margin-bottom: 80px;
}

.add-to-cart {
	background-color: #6b6565;
	color: #fff;
	padding: 10px 120px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 30px;
	
}
.add-to-cart:hover{
	background-color: #827b7b;
}

.description, .shipping-returns {
	display: none;
	margin-top: 0px;
	font-size: 20px;
}

.toggle-button {
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	color: #6b6565;
	margin-bottom: 10px;
	margin-top: 15px;
	display: block;
	font-size: 20px;
}

.description:target, .shipping-returns:target {
	display: block;
}

.carousel-control-prev, .carousel-control-next {
	font-size: 24px; /* Imposta la dimensione desiderata */
	width: 50px;
	height: auto;
}

#carouselExampleIndicators {
    width: 100%; /* Imposta la larghezza al 100% del contenitore genitore */
    max-width: 600px; /* Imposta una larghezza massima per il carousel */
    margin: 0 auto; /* Centra il carousel orizzontalmente */
    margin-bottom: 20px;
}

.carousel-inner {
    width: 100%; /* Imposta la larghezza al 100% del carousel */
    height: auto; /* Imposta l'altezza automaticamente */
}

.carousel-item img {
    width: 100%; /* Imposta la larghezza al 100% del carousel */
    max-height: 800px; /* Imposta l'altezza automaticamente */
    min-height: 800px;
}

/* Stili CSS per il menu */
.shipping-returns {
	display: none; /* Nascondi il contenuto del menu per default */
}

/* Nascondi completamente il checkbox */
input[type="checkbox"] {
	display: none;
}

/* Stili CSS per il link toggle */
.toggle-button, .toggle-description, .toggle-shipping {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

#toggle-description:checked ~ #description-content {
	display: block;
}

#toggle-shipping:checked ~ #shipping-content {
	display: block;
}

.fas{
  float: right;
  margin-right: 10px;
  font-size: 25px;
  transition: transform 0.3s ease; 
}

#toggle-description:checked ~ .toggle-button-description .fas {
    transform: rotate(180deg); /* Ruota l'icona verso l'alto */
}

#toggle-description:not(:checked) ~ .description-details {
    display: none;
}

#toggle-shipping:checked ~ .toggle-button-shipping .fas {
    transform: rotate(180deg); /* Ruota l'icona verso l'alto */
}

#toggle-shipping:not(:checked) ~ .shipping-details {
    display: none;
}


/* Stili predefiniti per l'immagine e le informazioni del prodotto */
.product-images,
.product-info {
    flex: 1;
}



/* Stili per la modalità mobile */
@media only screen and (max-width: 600px) {
    .product-images,
    .product-info {
        width: 100%; /* Imposta la larghezza al 100% per adattarsi allo schermo */
        margin: 0; /* Rimuove eventuali margini per evitare spazi vuoti */
     
    }

    .product-info {
    	margin-left: 0;
        margin-top: 20px; /* Aggiunge margine superiore per separare dall'immagine */
    }
    .carousel-item img {
    	max-height: 400px;
    	min-height: 400px;
    }
}
