@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

.container {
	margin: 30px;
}

.product-images{
	flex: 1;
	overflow-x: hidden;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

img {
	width: 400px;
}

.product-info {
	flex: 1;
	align-items: flex-start;
}

.product-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.product-price {
	font-size: 20px;
	margin-bottom: 70px;
}

.add-to-cart {
	background-color: #007bff;
	color: #fff;
	padding: 10px 100px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.description, .shipping-returns {
	display: none;
	margin-top: 0px;
}

.toggle-button {
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	color: #007bff;
	margin-bottom: 10px;
	display: block;
}

.description:target, .shipping-returns:target {
	display: block;
}

.carousel-control-prev, .carousel-control-next {
	font-size: 24px; /* Imposta la dimensione desiderata */
	width: 50px;
	height: 500px;
}

.carousel {
	max-width: 400px;
}

/* Stili CSS per il menu */
.shipping-returns {
	display: none; /* Nascondi il contenuto del menu per default */
}

/* Nascondi completamente il checkbox */
input[type="checkbox"] {
	display: none;
}

/* Stili CSS per il link toggle */
.toggle-button, .toggle-description, .toggle-shipping {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

#toggle-description:checked ~ #description-content {
	display: block;
}

#toggle-shipping:checked ~ #shipping-content {
	display: block;
}