.custom-container{
	display:flex;
	flex-direction: row;

}

.cart-section { 
	display:flex;
	flex-direction: row;
	justify-content: end;
	width:20%;
	align-items: center;
	
	a{
		margin-left: 20px;
	}
}